.pomodo-app {
    max-width: 960px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    .pomo-app {
        grid-column: 1/7;
        padding: 0 5px 0 0;
        min-width: 230px;
        margin: 20px auto;
        background-color: #f7e9d8; // For Debug
        .pomo-container {
            display: grid;
            grid-template-columns: repeat(12, 1fr);
            align-items: center;
            background-color: #bad2cf; // For Debug
            .pomo-header-container {
                grid-column: span 12;
                // TODO: Move header-pomo styles to separate file
                .header-pomo {
                    grid-column: span 12;
                    display: grid;
                    grid-template-columns: repeat(12, 1fr);
                    .pomo-start-container {
                        grid-column: span 12;
                        .button-start-pomo {
                            width: 100%;
                        }
                    }
                    .pomo-progress-container {
                        grid-column: span 12;
                    }
                }
            }
        }
    }
    /* Todo section */
    .todo-app {
        grid-column: 7/13;
        // padding: 0 0 0 5px;
        min-width: 230px;
        // max-width: 750px;
        margin: 20px auto;
        background: #fff;
        -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 25px 50px 0 rgba(0, 0, 0, 0.1);
        -moz-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 25px 50px 0 rgba(0, 0, 0, 0.1);
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 25px 50px 0 rgba(0, 0, 0, 0.1);
        position: relative; // For &:before proper view
        &.not-empty-todo-list-footer {
            &:before {
                content: '';
                position: absolute;
                right: 0;
                bottom: 0;
                left: 0;
                height: 50px;
                overflow: hidden;
                z-index: -1;
                -webkit-box-shadow: 0 0px 1px -1px rgba(0, 0, 0, 0.2), 0 8px 0 -3px #f6f6f6, 0 9px 1px -3px rgba(0, 0, 0, 0.2), 0 16px 0 -6px #f6f6f6, 0 17px 2px -6px rgba(0, 0, 0, 0.2);
                -moz-box-shadow: 0 0px 1px -1px rgba(0, 0, 0, 0.2), 0 8px 0 -3px #f6f6f6, 0 9px 1px -3px rgba(0, 0, 0, 0.2), 0 16px 0 -6px #f6f6f6, 0 17px 2px -6px rgba(0, 0, 0, 0.2);
                box-shadow: 0 0px 1px -1px rgba(0, 0, 0, 0.2), 0 8px 0 -3px #f6f6f6, 0 9px 1px -3px rgba(0, 0, 0, 0.2), 0 16px 0 -6px #f6f6f6, 0 17px 2px -6px rgba(0, 0, 0, 0.2);
            }
        }
        input::-webkit-input-placeholder {
            font-style: italic;
            font-weight: 300;
            color: #e6e6e6;
        }
        input::-moz-placeholder {
            font-style: italic;
            font-weight: 300;
            color: #e6e6e6;
        }
        input::input-placeholder {
            font-style: italic;
            font-weight: 300;
            color: #e6e6e6;
        }
    }
    /* End Todo section */
}