/* Styles for 'PomoHeaderComponent' */

// Progress bar bg colours
$bar-default-bg: rgba(255, 0, 0, 0.2);
$bar-rest-bg: rgba(0, 255, 0, 0.2);
// ADDS A BROWSER PREFIX TO THE PROPERTY
@mixin browser_prefix($property, $value) {
    -webkit-#{$property}: #{$value};
    -moz-#{$property}: #{$value};
    -ms-#{$property}: #{$value};
    -o-#{$property}: #{$value};
    #{$property}: #{$value};
}

// KEYFRAMES
@mixin keyframes($animation-name) {
    @-webkit-keyframes #{$animation-name} {
        @content;
    }
    @-moz-keyframes #{$animation-name} {
        @content;
    }
    @-ms-keyframes #{$animation-name} {
        @content;
    }
    @-o-keyframes #{$animation-name} {
        @content;
    }
    @keyframes #{$animation-name} {
        @content;
    }
}

// ANIMATION
@mixin animation($str) {
    @include browser_prefix('animation', $str);
}

@include keyframes('cssProgressActive') {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: 35px 35px;
    }
}

.header-pomo {
    grid-column: span 12;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    padding-bottom: 10px;
    background-color: #eeeeb8; // For Debug
    .pomo-start-container {
        grid-column: span 12;
        .button-start-pomo {
            width: 100%;
            font-weight: bold;
            height: 41px;
        }
    }
    .pomo-progress-container {
        grid-column: span 12;
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        position: relative;
        .icon-cross {
            cursor: pointer;
            font-size: 10px;
            position: absolute;
            top: -4px;
            right: -4px;
            padding: 3px;
            border: 1px solid #8c8c8c;
            color: #656565;
            border-radius: 50%;
            background-color: #dedede;
        }
    }
    .pomo-save-container {
        grid-column: span 12;
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        .pomo-save-field {
            grid-column: span 12;
            @extend .input-field-style;
            border: none;
            box-shadow: inset 0 0px 0px rgba(0, 0, 0, 0.03);
            // background-color: transparent;
            padding: 11px 0px 12px 14px;
            resize: horizontal; // Disable vertical resizing for pomo
            word-break: break-all;
        }
    }
}

.cssProgress {
    grid-column: span 12;
    width: 100%;
    // margin-bottom: 20px;
    .progress {
        position: relative;
        overflow: hidden;
        width: 100%;
        font-family: "Roboto", sans-serif;
        width: auto !important;
        padding: 5px;
        background-color: rgba(0, 0, 0, 0.1);
        box-shadow: inset 0px 1px 2px rgba(0, 0, 0, 0.2);
        border-radius: 3px;
    }
    .cssProgress-bar {
        display: block;
        float: left;
        width: 0%;
        height: 100%;
        background: $bar-default-bg;
        box-shadow: inset 0px -1px 2px rgba(0, 0, 0, 0.1);
        transition: width 0.8s ease-in-out;
        height: 34px;
        border-radius: 3px;
        &.cssProgress-rest {
            background-color: $bar-rest-bg;
        }
    }
    .cssProgress-label {
        position: absolute;
        overflow: hidden;
        left: 0px;
        right: 0px;
        color: rgba(0, 0, 0, 0.6);
        font-size: 0.7em;
        text-align: center;
        text-shadow: 0px 1px rgba(0, 0, 0, 0.3);
        line-height: 34px;
        font-size: 18px;
        cursor: default;
    }
    .cssProgress-active {
        background-image: linear-gradient( -45deg, rgba(255, 255, 255, .125) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .125) 50%, rgba(255, 255, 255, .125) 75%, transparent 75%, transparent);
        background-size: 35px 35px;
        @include animation('cssProgressActive 2s linear infinite');
    }
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}