.pomo-list {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    padding: 0 20px;
    // border: 1px solid #aaaaaa;
    // box-shadow: 0 0 5px 0px #969696;
    height: 100%;
    -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 25px 50px 0 rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 25px 50px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 25px 50px 0 rgba(0, 0, 0, 0.1);
    .pomo-days {
        list-style: none;
        padding-left: 0;
        grid-column: span 12;
        .pomos-group-container {
            display: grid;
            grid-template-columns: repeat(12, 1fr);
            font-size: 0.9em;
            .pomos-date-count-container {
                grid-column: span 12;
                display: grid;
                grid-template-columns: repeat(12, 1fr);
                margin: 3px 0;
                color: #999999;
                .pomos-date-group {
                    grid-column: span 6;
                    font-size: 1.1em;
                }
                .pomos-count-group {
                    grid-column: span 6;
                    justify-self: end;
                    color: #666666;
                }
            }
            .pomos-data-container {
                grid-column: span 12;
                .pomos-items {
                    list-style: none;
                    padding-left: 0;
                    .pomo-item {
                        display: grid;
                        grid-template-columns: repeat(12, 1fr);
                        .pomo-time {
                            grid-column: span 3;
                            color: #999999;
                        }
                        .pomo-title {
                            grid-column: span 9;
                            margin: 0;
                            .pomo-multiplier {
                                color: #666666;
                            }
                        }
                    }
                }
            }
        }
    }
}