.stat-history-container {
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    align-items: center;
    background-color: #8ad68e; // For Debug
    max-width: 960px;
    margin: 0 auto;
    .stat-history-item {
        grid-column: span 4;
        padding: 10px;
        .card-header {
            font-size: 16px;
            font-weight: normal;
            margin: 0 0 5px 0;
            padding: 0;
        }
        .card-description {
            margin: 0 0 5px 0;
            padding: 0;
        }
        .card-value {
            margin: 0 0 5px 0;
            padding: 0;
        }
    }
}