.stat-history-container {
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    align-items: center;
    background-color: #8ad68e; // For Debug
    max-width: 960px;
    margin: 0 auto;
    .stat-history-item {
        grid-column: span 4;
    }
}