.stat-history-container {
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    align-items: center;
    background-color: #93da97; // For Debug
    max-width: 960px;
    margin: 0 auto;
    border: 1px solid #cccccc;
    .stat-history-item {
        grid-column: span 4;
        padding: 10px;
        cursor: pointer;
        border-right: 1px solid #cccccc;
        height: 100%;
        box-sizing: border-box;
        position: relative;
        &:last-child {
            border-right: none;
        }
        &.selected-item {
            background-color: #e9e9e9;
        }
        .card-header {
            font-size: 14px;
            font-weight: normal;
            margin: 0 0 3px 0;
            padding: 0;
        }
        .card-info {
            .card-description {
                font-size: 12px;
                margin: 0 0 6px 0;
                padding: 0;
                color: #777777;
            }
            .card-value {
                margin: 0 0 5px 0;
                padding: 0;
                font-size: 30px;
            }
        }
        .card-chart {
            position: absolute;
            bottom: 0;
            right: 0;
            background-color: #e6c87f; // For Debug
            height: 70%;
            display: flex;
            align-items: flex-end;
            .chart-column {
                display: inline-block;
                background-color: red;
                width: 18px;
                height: 30px;
                margin-right: 7px;
                &:last-child {
                    margin-right: 5px;
                }
            }
        }
    }
}