.head {
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    align-items: center;
    background-color: #90bedf; // For Debug
    border-bottom: 1px solid #cccccc;
    color: #777;
    .app-name {
        // position: absolute;
        // top: -130px;
        // width: 100%;
        background-color: #c4e6ff; // For Debug
        grid-column: 1/3;
        line-height: initial;
        margin: 10px auto 10px 0px;
        word-break: break-all;
        a {
            font-size: 24px;
            font-weight: 700;
            text-align: center;
            color: rgba(175, 47, 47, 0.3);
            -webkit-text-rendering: optimizeLegibility;
            -moz-text-rendering: optimizeLegibility;
            text-rendering: optimizeLegibility;
        }
    }
    .upgrade-pro-container {
        grid-column: 3/3;
        margin-left: -10px;
        color: #00d169;
        a {
            color: inherit;
            font-weight: 500;
        }
    }
    .header-right-container {
        grid-column: 10/17;
        justify-self: end;
        background-color: #76a0be; // For Debug
        padding: 0px;
        li {
            display: inline-block;
            &.sync-message {
                background-color: #6e6cc2; // For Debug
                padding: 0 15px;
            }
            &.sync-status {
                background-color: #9b76be; // For Debug
                text-align: center;
                padding: 0 5px;
            }
            &.profile-menu {
                background-color: #63bea3; // For Debug
                padding: 0 0 0 .9rem;
                cursor: pointer;
                a {
                    // padding: 0 .9rem;
                    // padding: 0 3px 0 10px;
                    color: inherit;
                    font-weight: 500;
                }
                span {
                    padding-left: 3px;
                }
            }
        }
    }
}