.head {
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    align-items: center;
    background-color: #90bedf; // For Debug
    .app-name {
        // position: absolute;
        // top: -130px;
        // width: 100%;
        background-color: #c4e6ff; // For Debug
        grid-column: 1/3;
        line-height: initial;
        margin: 10px auto 10px 3px;
        word-break: break-all;
        a {
            font-size: 24px;
            font-weight: 500;
            text-align: center;
            color: rgba(175, 47, 47, 0.3);
            -webkit-text-rendering: optimizeLegibility;
            -moz-text-rendering: optimizeLegibility;
            text-rendering: optimizeLegibility;
        }
    }
    .upgrade-pro-container {
        grid-column: 3/3;
        margin-left: -10px;
        color: #00d169;
        a {
            color: inherit;
            font-weight: 500;
        }
    }
    .sync-status {
        grid-column: 13/14;
    }
    .sync-icon {
        grid-column: 14/15;
        text-align: center;
    }
    .profile-menu {
        grid-column: 15/17;
    }
}