// CSS Grid site template with sticky footer (https://codepen.io/Cl3r1k/pen/WdbRER)
$anchorColor: #0bb3b3;
$gridContainerColor: none;
$gridHeaderColor: none;
$gridContentColor: none;
$gridFooterColor: none;
// Debugging for grid
$gridContainerColor: #52887a;
$gridHeaderColor: #a8dee7;
$gridContentColor: #d8bdd7;
$gridFooterColor: #a7e4c1;

html {
    min-height: 100%;
    min-width: 100%;
    height: 100%;
    margin: 0;
}

body {
    height: 100%;
    margin: 0;
    background: #F7F7F7;
    color: #4d4d4d;
    line-height: 1.3em;
    width: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    &.modal-open {
        /* body overflow is hidden to hide main scrollbar when modal window is open, set this class programmatically in ModalService */
        overflow: hidden;
    }
}

a,
a:focus,
a:hover {
    color: $anchorColor;
    text-decoration: none;
    font-weight: 600;
}

.app-grid-container {
    font-family: Georgia, Palatino, 'Palatino Linotype', Times, 'Times New Roman', serif;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: auto 1fr auto;
    background-color: $gridContainerColor;
    // grid-gap: 5px;
    // max-width: 960px;    // Global value for app
    margin: 0 auto;
    .header-container {
        grid-column: span 12;
        padding: 0px 30px;
        color: #0bb3b3;
        background-color: $gridHeaderColor;
        height: 1px;
        // .header-title {
        //     display: inline-block;
        // }
    }
    .content-container {
        font-family: 'Helvetica Neue', Helvetica, 'Arimo', Arial, sans-serif;
        grid-column: span 12;
        background-color: $gridContentColor;
        // padding: 10px 0;
    }
    .footer-container {
        text-align: center;
        background-color: $gridFooterColor;
        grid-column: span 12;
        // padding-top: 15px;
        // padding-bottom: 5px;
    }
}

.hide {
    display: none;
}