
// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------

$bgColorRed: rgb(209, 121, 121);
$anchorColor: #0bb3b3;
$gridContainerColor: none;
$gridHeaderColor: none;
$gridContentColor: none;
$gridFooterColor: none;
$borderGrayColor: #cccccc;

// Debugging for grid
$gridContainerColor: #52887a;
$gridHeaderColor: #a8dee7;
$gridContentColor: #d8bdd7;
$gridFooterColor: #a7e4c1;