<section class="stat-details-container">

  <div class="controls-date-container">
    <ul class="button-switcher-list">
      <li><span class="button-switcher">Pomo stat</span></li>
      <li><span class="button-switcher">Todo stat</span></li>
    </ul>
    <span class="extra-button">Search</span>
    <div class="date-container">
      <span>+</span>
      <span>Calendar date</span>
    </div>
  </div>

  <div class="stat-chart-container">
    <div class="stat-chart-header">
      <ul>
        <li><span class="stat-chart-header-value">0</span>Total number</li>
        <li><span class="stat-chart-header-value">0</span>Daily average</li>
        <li><span class="stat-chart-header-value">0.0</span>Monthly change</li>
      </ul>
    </div>
    <div class="stat-chart-block">
      <svg width="100%" height="100%" preserveAspectRatio="none">
        <polyline points="0,1 2,2 3,3 5,5 10,10" fill="rgba(168, 247, 49, 0.3)" stroke-width="1"
          stroke="rgba(252, 103, 77, 0.5)" />
      </svg>
    </div>
  </div>

  <div class="stat-report-container">
    <app-stat-card>
      <app-stat-card-description [cardInfo]="'Best workday'" [cardData]="bestWorkDay"
        [cardDetails]="aboveAveragePercent + '% more than average'"></app-stat-card-description>

      <app-weekly-days-chart [workDaysStatsPercents]="workDaysStatsPercents"></app-weekly-days-chart>
    </app-stat-card>

    <!-- <div class="stat-report-card card-workday">
      <div class="card-text-container">
        <p class="card-info">Best workday</p>
        <span class="card-data">{{bestWorkDay}}</span>
        <p class="card-details">{{aboveAveragePercent}}% more than average</p>
      </div>

      <div class="weekly-days-chart">
        <span class="weekly-days-chart-column" *ngFor="let col of workDaysStatsPercents" [style.height.%]="col"></span>
        <span class="weekly-days-label" *ngFor="let dayOfWeek of WEEK_DAYS_SHORT"
          [style.height.%]="col">{{dayOfWeek}}</span>
      </div>
    </div> -->

    <app-stat-card>
      <app-stat-card-description [cardInfo]="'Top tags'" [cardData]="'No data'"
        [cardDetails]="'You can add #tag to pomo description to
        organize your work'" [isHidden]="hashtagsChartValues.length"></app-stat-card-description>

      <app-tags-pie-chart [hashtagsChartValues]="hashtagsChartValues" (selectedHashtagTagsPieChartComponentEmitter)="onToggleSelectedChartPart($event)"></app-tags-pie-chart>
    </app-stat-card>

    <!-- <div class="stat-report-card card-tags">
      <div class="card-text-container">
        <p class="card-info">Top tags</p>
        <span class="card-data" *ngIf="!hashtagsChartValues.length">No data</span>
        <p class="card-details grayed" *ngIf="!hashtagsChartValues.length">You can add #tag to pomo description to
          organize your work</p>
      </div>

      <div class="chart-data-container" *ngIf="hashtagsChartValues.length">
        <ul class="tags-list">
          <li class="tags-list-item" [class.selected]="selected === i" [style.color]="hashtagObj.fillColor"
            *ngFor="let hashtagObj of hashtagsChartValues; let i = index" (click)="toggleSelectedChartPart(i)">
            <span class="tags-list-item-text">{{hashtagObj.tagName}}</span>
          </li>
        </ul>
        <div class="tags-pie-chart">
          <svg class="pie-chart" width="180" height="180" [style.background-color]="'#238e81'">
            <svg:g class="chart-area"
              [style.transform]="selected === i ? 'translate(' + hashtagObj.offset.x + 'px, ' + hashtagObj.offset.y + 'px)' : ''"
              *ngFor="let hashtagObj of hashtagsChartValues; let i = index" (click)="toggleSelectedChartPart(i)">
              <svg:path [attr.d]="hashtagObj.pathD" [style.fill]="hashtagObj.fillColor" stroke="white" strokeWidth="1">
              </svg:path>
            </svg:g>
            <svg:g class="pie-chart-labels">              
              <svg:g
                [style.transform]="'translate(' + hashtagObj.offsetText.x + 'px, ' + hashtagObj.offsetText.y + 'px)'"
                *ngFor="let hashtagObj of hashtagsChartValues; let i = index" (click)="toggleSelectedChartPart(i)">
                <text x="80" y="97" class="small">{{hashtagObj.percent}}%</text>
              </svg:g>
            </svg:g>
          </svg>
        </div>
      </div>
    </div> -->

    <app-stat-report-card></app-stat-report-card>

  </div>
</section>