<section class="stat-details-container">

  <div class="controls-date-container">
    <ul class="button-switcher-list">
      <li><span class="button-switcher">Pomo stat</span></li>
      <li><span class="button-switcher">Todo stat</span></li>
    </ul>
    <span class="extra-button">Search</span>
    <div class="date-container">
      <span>+</span>
      <span>Calendar date</span>
    </div>
  </div>

  <div class="stat-chart-container">
    <div class="stat-chart-header">
      <ul>
        <li><span class="stat-chart-header-value">0</span>Total number</li>
        <li><span class="stat-chart-header-value">0</span>Daily average</li>
        <li><span class="stat-chart-header-value">0.0</span>Monthly change</li>
      </ul>
    </div>
    <div class="stat-chart-block">
      <svg width="100%" height="100%" preserveAspectRatio="none">
        <polyline points="0,1 2,2 3,3 5,5 10,10" fill="rgba(168, 247, 49, 0.3)" stroke-width="1"
          stroke="rgba(252, 103, 77, 0.5)" />
      </svg>
    </div>
  </div>

  <div class="stat-report-container">
    <app-stat-card>
      <app-stat-card-description [cardInfo]="'Best workday'" [cardData]="bestWorkDay"
        [cardDetails]="aboveAveragePercent + '% more than average'"></app-stat-card-description>

      <app-weekly-days-chart [workDaysStatsPercents]="workDaysStatsPercents"></app-weekly-days-chart>
    </app-stat-card>

    <app-stat-card>
      <app-stat-card-description [cardInfo]="'Top tags'" [cardData]="'No data'"
        [cardDetails]="'You can add #tag to pomo description to
        organize your work'" [isHidden]="hashtagsChartValues.length"></app-stat-card-description>

      <app-tags-pie-chart [hashtagsChartValues]="hashtagsChartValues" (selectedHashtagTagsPieChartComponentEmitter)="onToggleSelectedChartPart($event)"></app-tags-pie-chart>
    </app-stat-card>

    <app-stat-card>
      <app-stat-card-description [cardInfo]="'Best worktime'" [cardData]="'No data'"
        [cardDetails]="'0:00 - 24:00'"></app-stat-card-description>
    
      <app-hours-chart></app-hours-chart>
    </app-stat-card>

  </div>
</section>