<section class="stat-details-container">
    <div class="controls-date-container">
        <ul class="button-switcher-list">
            <li><span class="button-switcher">Pomo stat</span></li>
            <li><span class="button-switcher">Todo stat</span></li>
        </ul>
        <span class="extra-button">Search</span>
        <div class="date-container">
            <span>+</span>
            <span>Calendar date</span>
        </div>
    </div>
    <div class="stat-chart-container">
        <div class="start-chart-header">
            <ul>
                <li><span class="start-chart-header-value">0</span>Total number</li>
                <li><span class="start-chart-header-value">0</span>Daily average</li>
                <li><span class="start-chart-header-value">0.0</span>Monthly change</li>
            </ul>
        </div>
        <div class="start-chart-block">
            <svg width="100%" height="100%" preserveAspectRatio="none">
                <polyline points="0,1 2,2 3,3 5,5 10,10" fill="rgba(168, 247, 49, 0.3)"
                        stroke-width="1" stroke="rgba(252, 103, 77, 0.5)" />
            </svg>
        </div>
    </div>
    <div class="stat-report-container"></div>
</section>