<div class="stat-history-container">
    <div class="stats stat-history-item" [class.selected-item]="currentSelectedItem === 1" (click)="setSelectedItem(1)">
        <h3 class="card-header">Stat</h3>
        <div class="card-info">
            <p class="card-description">Weekly cumulation</p>
            <p class="card-value">{{weeklyCumulationList.length}}</p>
        </div>
        <div class="card-chart">
            <span class="chart-column" *ngFor="let col of weeklyCumulationChartValues" [style.height.%]="col"></span>
        </div>
    </div>
    <div class="goal stat-history-item" [class.selected-item]="currentSelectedItem === 2" (click)="setSelectedItem(2)">
        <h3 class="card-header">Goal</h3>
        <div class="card-info">
            <p class="card-description">Daily goal</p>
            <p class="card-value">{{dailyGoalList.length}}/{{dailyGoalCountPrefs}}</p>
        </div>
        <div class="card-chart round-progress-container">
            <div class="pie-wrapper pie-wrapper--solid" [ngClass]="'progress-' + dailyGoalCountPercent">
                <span class="label">{{dailyGoalCountPercent}}<span class="smaller">%</span></span>
            </div>
        </div>
    </div>
    <div class="pomo-history stat-history-item" [class.selected-item]="currentSelectedItem === 3" (click)="setSelectedItem(3)">
        <h3 class="card-header">Pomo history</h3>
        <div class="card-info">
            <p class="card-description">All time pomos</p>
            <p class="card-value">{{recentPomos.length}}</p>
        </div>
        <div class="card-chart">
            <div class="card-line">
                <svg width="230" height="70" viewBox="0 0 100 100" preserveAspectRatio="none">
                    <rect class="rect-1" width="42.5%" height="42.5%" x="0%" y="57.0%" fill="tomato"></rect>
                    <polyline points="0,70 7.6,68, 15.2,66, 22.8,64, 30.4,62 38,60 45.6,58, 53.2,56, 60.8,54, 68.4,52
                    76,50 83.6,48, 91.2,46, 98.8,44, 106.4,42 114,40 121.6,38, 129.2,36, 136.8,34, 144.4,32
                    152,30 159.6,28, 167.2,26, 174.8,24, 182.4,22 190,20 197.6,18, 205.2,14, 212.8,08, 220.4,00" fill="green" stroke-width="3px" stroke="blue" />
                </svg>
            </div>
        </div>
    </div>
    <div class="todo-history stat-history-item" [class.selected-item]="currentSelectedItem === 4" (click)="setSelectedItem(4)">
        <h3 class="card-header">Todo history</h3>
        <div class="card-info">
            <p class="card-description">All time todos</p>
            <p class="card-value">{{todos.length}}</p>
        </div>
        <div class="card-chart"></div>
    </div>
</div>
