<div class="stat-history-container">
  <div class="stat stat-history-item" [class.selected-item]="currentSelectedItem === 1" (click)="setSelectedItem(1)">
    <h3 class="card-header">Stat</h3>
    <div class="card-info">
      <p class="card-description">Weekly cumulation</p>
      <p class="card-value">{{weeklyCumulationList.length}}</p>
    </div>
    <div class="card-chart">
      <span class="chart-column" *ngFor="let col of weeklyCumulationChartValues" [style.height.%]="col"></span>
    </div>
  </div>
  <div class="goal stat-history-item" [class.selected-item]="currentSelectedItem === 2" (click)="setSelectedItem(2)">
    <h3 class="card-header">Goal</h3>
    <div class="card-info">
      <p class="card-description">Daily goal</p>
      <p class="card-value">{{dailyGoalList.length}}/{{dailyGoalCountPrefs}}</p>
    </div>
    <div class="card-chart round-progress-container">
      <div class="pie-wrapper pie-wrapper--solid" [ngClass]="'progress-' + dailyGoalCountPercent">
        <span class="label">{{dailyGoalCountPercent}}<span class="smaller">%</span></span>
      </div>
    </div>
  </div>
  <div class="pomo-history stat-history-item" [class.selected-item]="currentSelectedItem === 3"
    (click)="setSelectedItem(3)">
    <h3 class="card-header">Pomo history</h3>
    <div class="card-info">
      <p class="card-description">All time pomos</p>
      <p class="card-value">{{recentPomos.length}}</p>
    </div>
    <div class="card-chart">
      <div class="card-line">
        <svg width="100%" height="100%" viewBox="0 0 239 70" preserveAspectRatio="none">
          <svg:polyline [attr.points]="monthlyPomosPolylinePoints" fill="rgba(168, 247, 49, 0.3)" stroke-width="1"
            stroke="rgba(252, 103, 77, 0.5)" />
        </svg>
      </div>
    </div>
  </div>
  <div class="todo-history stat-history-item" [class.selected-item]="currentSelectedItem === 4"
    (click)="setSelectedItem(4)">
    <h3 class="card-header">Todo history</h3>
    <div class="card-info">
      <p class="card-description">All time todos</p>
      <p class="card-value">{{todosCompleted.length}}</p>
    </div>
    <div class="card-chart">
      <div class="card-line">
        <svg width="100%" height="100%" viewBox="0 0 239 70" preserveAspectRatio="none">
          <svg:polyline [attr.points]="monthlyTodosPolylinePoints" fill="rgba(168, 247, 49, 0.3)" stroke-width="1"
            stroke="rgba(252, 103, 77, 0.5)" />
        </svg>
      </div>
    </div>
  </div>

  <app-stat-details class="grid-spanner-16" [bestWorkDay]="bestWorkDay" [aboveAveragePercent]="aboveAveragePercent"
    [workDaysStatsPercents]="workDaysStatsPercents" [topHashtagName]="topHashtagName"
    [hashtagsChartValues]="hashtagsChartValues"
    (selectedHashtagStatDetailsComponentEmitter)="onToggleSelectedChartPart($event)"
    [bestWorkHours]="bestWorkHours"></app-stat-details>
</div>