<section class="pomo-list">
    <ul class="pomo-days">
        <li *ngFor="let item of _pomoStateService.recentPomosView" class="pomos-group-container">
            <div class="pomos-date-count-container">
                <span class="pomos-date-group">{{item.dateGroup}}</span>
                <span class="pomos-count-group">Finished {{item.pomosCount}} pomos</span>
            </div>
            <div>
                <ul>
                    <li *ngFor="let pomo of item.pomosArray">
                        <span>{{pomo.start_short_time}}</span> - <span>{{pomo.end_short_time}}</span> {{pomo.title}} <span *ngIf="pomo.counter > 1">× {{pomo.counter}}</span>
                    </li>
                </ul>
            </div>
        </li>
    </ul>
</section>