<section class="pomo-list">
    <ul class="pomo-days">
        <li *ngFor="let item of _pomoStateService.recentPomosView" class="pomos-group-container">
            <div class="pomos-date-count-container">
                <span class="pomos-date-group">{{item.dateGroup}}</span>
                <span class="pomos-count-group">Finished {{item.pomosCount}} pomos</span>
            </div>
            <div class="pomos-data-container">
                <ul class="pomos-items">
                    <li *ngFor="let pomo of item.pomosArray" class="pomo-item">
                        <div class="pomo-time"><span appTooltipDirective='{{pomo.start_time_view}}' placement='top'>{{pomo.start_short_time}}</span> - <span appTooltipDirective='{{pomo.end_time_view}}' placement='top'>{{pomo.end_short_time}}</span></div>
                        <p class="pomo-title">{{pomo.title}} <span *ngIf="pomo.counter > 1" class="pomo-multiplier">× {{pomo.counter}}</span></p>
                    </li>
                </ul>
            </div>
        </li>
    </ul>
</section>