// -----------------------------------------------------------------------------
// This file contains all styles related to the icon component.
// -----------------------------------------------------------------------------

.icon {
    display: inline-block;
    color: #444444;
    width: 1em;
    height: 1em;
    fill: currentColor;
}