<div class="stat-report-card card-worktime">
  <div class="card-text-container">
    <p class="card-info">Best worktime</p>
    <span class="card-data">No data</span>
    <p class="card-details">0:00 - 24:00</p>
  </div>

  <div class="daily-hours-chart">
    <div class="hours-labels">
      <span class="hour-up">0</span>
      <span class="hour-right">6</span>
      <span class="hour-down">12</span>
      <span class="hour-left">24</span>
    </div>
    <canvas class="canvas-clock" width="100" height="100"></canvas>
  </div>

  <app-hours-chart></app-hours-chart>
</div>