.daily-hours-chart {
  display: flex;
  justify-content: flex-end;
  .clock-container {
    position: relative;
    .hour-value {
      position: absolute;
      font-size: 12px;
      color: #cccccc;
      &.hour-up {
        top: -5px;
        left: 46%;
      }
      &.hour-right {
        top: 43%;
        right: -4px;
      }
      &.hour-down {
        bottom: -1px;
        left: 46%;
      }
      &.hour-left {
        top: 43%;
        left: -4px;
      }
    }
    .canvas-clock {
      background-color: #86f1f1;
    }
  }
}
