<header class='header-pomo'>
    <div class='pomo-start-container' *ngIf='pomoStatePomoHeader === 0'>
        <button mat-raised-button class='button-start-pomo' (click)='startPomo()'>Start Pomo</button>
    </div>

    <div class='pomo-progress-container' *ngIf='pomoStatePomoHeader === 1'>

        <!-- progress V5 -->
        <div class="cssProgress">
            <div class="progress">
                <div class="cssProgress-bar cssProgress-active" [class.cssProgress-rest]="currentState === 'rest'" data-percent="55" [style.width.%]="progressBarPercent">
                    <span class="cssProgress-label">{{counterView}}</span>
                </div>
            </div>
        </div>
        <!-- End progress V5 -->

        <!-- <mat-progress-bar mode='determinate' value='{{progressBarPercent}}'></mat-progress-bar> -->
        <button mat-raised-button (click)='cancelPomo()'>Interrupt {{currentState}}</button>
    </div>

    <div class='pomo-save-container' *ngIf='pomoStatePomoHeader === 2'>
        <span>Choose pomo to save</span>
        <button mat-raised-button (click)='savePomo()'>Save pomo</button>
        <button mat-raised-button (click)='cancelPomo()'>Cancel pomo</button>
    </div>
</header>