<header class='header-pomo'>
    <div class='pomo-start-container' *ngIf='pomoStatePomoHeader === 0'>
        <button mat-raised-button class='button-start-pomo' (click)='startPomo()'>Start Pomo</button>
    </div>

    <div class='pomo-progress-container' *ngIf='pomoStatePomoHeader === 1'>
        <p>progress bar timerId {{timerId}} and counter {{counterView}}</p>

        <!-- progress V1 -->
        <!-- <progress value='{{progressBarPercent}}' min='0' max='100'></progress> -->
        <!-- End progress V1 -->

        <!-- progress V2 -->
        <div class='progress'>
            <progress value='{{progressBarPercent}}' min='0' max='100'></progress>
            <div class='progress-value'></div>
            <div class='progress-bg'>
                <div class='progress-bar'></div>
            </div>
        </div>
        <!-- End progress V2 -->

        <!-- <mat-progress-bar mode='determinate' value='{{progressBarPercent}}'></mat-progress-bar> -->
        <button mat-raised-button (click)='cancelPomo()'>Interrupt {{currentState}}</button>
    </div>

    <div class='pomo-save-container' *ngIf='pomoStatePomoHeader === 2'>
        <span>Choose pomo to save</span>
        <button mat-raised-button (click)='savePomo()'>Save pomo</button>
        <button mat-raised-button (click)='cancelPomo()'>Cancel pomo</button>
    </div>
</header>