<header class='header-pomo'>
    <div class='pomo-start-container' *ngIf='pomoStatePomoHeader === 0'>
        <button mat-raised-button class='button-start-pomo' (click)='startPomo()'>Start Pomo</button>
    </div>

    <div class='pomo-progress-container' *ngIf='pomoStatePomoHeader === 1'>

        <div class='cssProgress'>
            <div class='progress'>
                <div class='cssProgress-bar cssProgress-active' [class.cssProgress-rest]="currentState === 'rest'" [style.width.%]='progressBarPercent'>
                    <span class='cssProgress-label noselect'>{{counterView}}</span>
                </div>
            </div>
        </div>

        <svg class='icon icon-cross' (click)='cancelPomoClick()'>
            <use xlink:href='#icon-cross'></use>
        </svg>
    </div>

    <div class='pomo-save-container' *ngIf='pomoStatePomoHeader === 2'>
        <textarea autosize class='pomo-save-field' placeholder='What have you just done?' [(ngModel)]='_pomoTitleService.pomoTitle' (ngModelChange)='pomoTitleManualChange($event)' (keydown.enter)='savePomo($event)' (focus)='setSavePomoFocus(true)' (blur)='setSavePomoFocus(false)'
            #textAreaElement></textarea>
        <svg class='icon icon-keyboard_return' [class.save-pomo-focused]='savePomoFocusState' (click)='savePomo()'>
            <use xlink:href='#icon-keyboard_return'></use>
        </svg>

        <svg class='icon icon-cross' (click)='cancelPomoClick()'>
            <use xlink:href='#icon-cross'></use>
        </svg>
    </div>
</header>