.weekly-days-chart {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: 1fr 20px;
  align-items: end;
  grid-gap: 5px 15px;
  height: 100%;
  padding-top: 10px;
  box-sizing: border-box;
  background-color: #a9e59d; // For Debug

  .weekly-days-chart-column {
    height: 100%;
    background-color: #f39090;
    display: block;
  }

  .weekly-days-label {
    text-align: center;
  }
}
