.weekly-days-chart {
  background-color: #a9e59d; // For Debug
  margin: 10px 0 0 0;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: auto 20px;
  align-items: end;
  grid-gap: 5px 15px;

  .weekly-days-chart-column {
    height: 100%;
    background-color: #f39090;
    display: block;
  }

  .weekly-days-label {
    text-align: center;
  }
}