.settings-dialog {
    font-family: 'Helvetica Neue', Helvetica, 'Arimo', Arial, sans-serif;
    margin-top: -10px;
    .dialog-header {
        color: #0b81b4;
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        align-items: center;
        .settings-tab {
            grid-column: 1/2;
            cursor: pointer;
            padding: 5px 15px 10px 15px;
            &.active {
                cursor: default;
            }
        }
        .goal-tab {
            grid-column: 3/4;
            cursor: pointer;
            padding: 5px 15px 10px 15px;
            &.active {
                cursor: default;
            }
        }
        .pomo-tab {
            grid-column: 5/6;
            cursor: pointer;
            padding: 5px 15px 10px 15px;
            &.active {
                cursor: default;
            }
        }
        .subscribe-tab {
            grid-column: 7/8;
            cursor: pointer;
            padding: 5px 15px 10px 15px;
            &.active {
                cursor: default;
            }
        }
        .dialog__close-btn {
            grid-column: 12/13;
            justify-self: end;
            color: #777;
            font: 14px/100% arial, sans-serif;
            text-decoration: none;
            text-shadow: 0 1px 0 #fff;
            cursor: pointer;
            &:after {
                content: '✖'; // UTF-8 symbol
            }
        }
    }
    hr {
        margin: 0px auto 0px auto;
    }
    .dialog-content {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        align-items: start;
        padding-top: 10px;
        padding-bottom: 10px;
        .settings-tab-container {
            grid-column: span 12;
            display: grid;
            grid-template-columns: repeat(12, 1fr);
            align-items: start;
            .sound-work-container,
            .sound-alarm-container,
            .notification-container,
            .time-type-container {
                grid-column: span 12;
                display: grid;
                grid-template-columns: repeat(12, 1fr);
                padding: 5px 0px 5px 0px;
                align-items: center;
                span {
                    margin-left: 5px;
                    color: #00d169;
                }
            }
        }
        .goal-tab-container {
            grid-column: span 12;
            display: grid;
            grid-template-columns: repeat(12, 1fr);
            align-items: start;
            // padding-top: 10px;
            // padding-bottom: 10px;
            div {
                grid-column: span 12;
                display: grid;
                grid-template-columns: repeat(12, 1fr);
                padding: 0px;
                align-items: center;
                span {
                    margin-left: 5px;
                    color: #00d169;
                }
            }
        }
        .pro-upgrade-container {
            grid-column: span 12;
            display: grid;
            grid-template-columns: repeat(12, 1fr);
            align-items: center;
            padding-top: 20px;
            padding-bottom: 20px;
            div {
                grid-column: span 12;
                display: grid;
                grid-template-columns: repeat(12, 1fr);
                padding: 0px;
                align-items: center;
                p {
                    grid-column: span 12;
                    margin: auto;
                    padding: 10px;
                }
                a {
                    grid-column: span 12;
                    margin: auto;
                    font-weight: 700;
                    color: #4e4e4e;
                }
            }
        }
    }
}

.active {
    color: #7e7e7e;
    border-bottom: 3px solid #b4b4b4;
}