// CSS Grid site template with sticky footer (https://codepen.io/Cl3r1k/pen/WdbRER)

.app-grid-container {
    font-family: Georgia, Palatino, 'Palatino Linotype', Times, 'Times New Roman', serif;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: auto 1fr auto;
    background-color: $gridContainerColor;
    // grid-gap: 5px;
    // max-width: 960px;    // Global value for app
    margin: 0 auto;
    .header-container {
        grid-column: span 12;
        padding: 0px 30px;
        color: #0bb3b3;
        background-color: $gridHeaderColor;
        height: 1px;
        // .header-title {
        //     display: inline-block;
        // }
    }
    .content-container {
        font-family: 'Helvetica Neue', Helvetica, 'Arimo', Arial, sans-serif;
        grid-column: span 12;
        background-color: $gridContentColor;
        // padding: 10px 0;
    }
    .footer-container {
        text-align: center;
        background-color: $gridFooterColor;
        grid-column: span 12;
        // padding-top: 15px;
        // padding-bottom: 5px;
    }
}

.hide {
    display: none;
}