<div class='head'>
    <h1 class='app-name' appTooltipDirective='Build {{BUILD_VERSION}}' placement='left' showDelay='1000'>
        <a href='/todos'>Pomodo</a>
    </h1>

    <div class='upgrade-pro-container'>
        <a href='/pro?source=app' target='_blank'>Upgrade</a>
    </div>

    <ul class='header-right-container'>
        <li class='sync-message'>
            <span>Syncing...</span>
        </li>
        <li class='sync-status'>
            <div class='icon-offline-container'>
                <span>[OF]</span>
            </div>
            <div class='icon-online-container'>
                <span class='success-sync'>[SU]</span>
                <span class='standby-sync'>[ST]</span>
                <span class='syncing-sync'>[SY]</span>
                <span class='failure-sync'>[FL]</span>
            </div>
        </li>
        <li class='profile-menu'>
            <a>Profile_Menu</a>
            <span>[>]</span>
        </li>
    </ul>
</div>