<div class='head'>
    <h1 class='app-name' appTooltipDirective='Build {{BUILD_VERSION}}' placement='left' showDelay='1000'>
        <a href='/todos'>Pomodo</a>
    </h1>

    <div class='upgrade-pro-container'>
        <a href='/pro?source=app' target='_blank'>Upgrade</a>
    </div>

    <ul class='header-right-container'>
        <li class='sync-message' *ngIf='syncMessage === "Syncing..."'>
            <span>{{syncMessage}}</span>
        </li>
        <li class='sync-status'>
            <div class='icon-offline-container' *ngIf='offlineState'>
                <span (click)='changeSyncState()'>[OF]</span>
            </div>
            <div class='icon-online-container' *ngIf='!offlineState'>
                <!-- Do not forget to reverse offlineState, and syncState values -->
                <span class='success-sync' *ngIf='syncState === 0' (click)='changeSyncState()'>[SU]</span>
                <span class='standby-sync' *ngIf='syncState === 1' (click)='changeSyncState()'>[ST]</span>
                <span class='syncing-sync' *ngIf='syncState === 2' (click)='changeSyncState()'>[SY]</span>
                <span class='failure-sync' *ngIf='syncState === 3' (click)='changeSyncState()'>[FL]</span>
            </div>
        </li>
        <li class='profile-menu'>
            <div class='profile-name' (click)='toggleSubmenuState()'>
                <a>{{profileName}}</a>
                <span>[>]</span>
            </div>
            <ul class='profile-submenu' [class.hide]='!showSubmenuState'>
                <li class='account-item'>Account</li>
                <li class='settings-item'>Settings</li>
                <li class='sign-out-item' (click)='doSignOut()'>Sign out</li>
            </ul>
        </li>
    </ul>
</div>