<div class='head'>
    <h1 class='app-name' appTooltipDirective='Build {{BUILD_VERSION}}' placement='left' showDelay='1000'>
        <a href='/todos'>Pomodo</a>
    </h1>

    <div class='upgrade-pro-container'>
        <a href='/pro?source=app'>Upgrade</a>
    </div>

    <ul class='header-right-container'>
        <li class='sync-message'>
            <span>Syncing...</span>
        </li>
        <li class='sync-status'>
            <span>SI</span>
        </li>
        <li class='profile-menu'>
            <a>Profile_Menu</a>
        </li>
    </ul>
</div>